.places__link {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 0 0;
  padding: 0;
}

.places__link:hover {
  opacity: 0.8;
}